@page
@model NurseryApp.Pages.User.Profile.ProfileModel
@{
    ViewData["Title"] = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="profile">
    <h3>Profile for @Model.FullName</h3>
    <form method="post">
        <p>
            <label asp-for="@Model.FirstName">First Name: </label>
            <span id="first-name">@Model.FirstName</span>
            <input id="first-name-input" class="hidden" asp-for="@Model.NewFirstName" placeholder="@Model.FirstName">
            <button id="submit-name" class="hidden" type="submit" asp-page-handler="NameChange">SAVE</button>
            <button id="name-change">CHANGE</button>
            <button id="name-cancel" class="hidden">CANCEL</button>
        </p>
    </form>
    <h4>Last Name: @Model.LastName</h4>
    <h4>Email: @Model.Email</h4>
    <h3><a asp-page="/User/Orders/Index">View Orders</a></h3>
    <form method="post">
        <button id="change-pw">CHANGE PASSWORD</button>
        <label class="pw hidden" asp-for="@Model.OldPassword">Old Password: </label>
        <input class="pw hidden" asp-for="@Model.OldPassword" />
        <label class="pw hidden" asp-for="@Model.NewPassword">New Password: </label>
        <input class="pw hidden" asp-for="@Model.NewPassword" />
        <label class="pw hidden" asp-for="@Model.ConfirmPassword">Confirm Password: </label>
        <input class="pw hidden" asp-for="@Model.ConfirmPassword" />
        <button class="pw hidden" type="submit" asp-page-handler="PasswordChange">CONFIRM</button>
    </form>
</div>
